<div class="entry">
  <div class="entry-top">
    <div class="entry-content">
      <span class="comment-number"><%= link_to blog.replay_count,"1"%></span>
      <h2 class="title"><%= link_to blog.title,:controller=>"blog",:action=>"blog_detail",:blog_id=>blog.id%></h2>
      <span class="quote"></span>
      <div class="author">-- <%= link_to blog.user.alias_name+" ,","#"%>
        <%= format_date(blog.updated_at,"%Y-%m-%d")%>
        <%= link_to get_type_name(blog.blog_type),"#",:rel=>"category"%>
      </div>

      <div class="clear"></div>
      <div class="tags">
        <%  blog.tag.each do |tag|%>
          <%= link_to_remote("<span>#{tag.text}</span>",\
              :update => "main-area",\
              :url=>{ :controller => "home",:tag=>tag.id}) %>
        <%end%>
      </div> <!-- end .tags -->

      <div id ="post-content" class="post-content">
        <%if !all%>
        <p> <%= strip_html(blog.text,100)%></p>
         
          <h2>
            <%= link_to t("more") ,:controller=>"blog",:action=>"blog_detail",:blog_id=>blog.id%>
            <%= link_to t("edit") ,:controller=>"blog",:action=>"edit_blog",:blog_id=>blog.id%>
            <%= link_to t("delete") ,:controller=>"blog",:action=>"delete_blog",:blog_id=>blog.id%>
          </h2>
        <%else%>
          <%= blog.text %>
        <%end%>
        <div class="clear"></div>
      </div>
    </div> <!-- end .entry-content -->
  </div> <!-- end .entry-top -->
</div>