<div id="sidebar">
  <div id="sidebar-bottom">
    <div id="sidebar-content">
      <% if !is_login -%>
        <div class="widget-button">
          <%= link_to "<span> #{t('login')}/#{t('register')} </span>",{:controller=>'user',:action=>'login'},:id=>"call_to_action"%>
        </div>
      <%else%>
        <%= link_to "<span>#{t("my_blog")}</span>",{:controller=>'home'},:id=>"call_to_action"%>
        <%= link_to "<span>#{t("logout")}</span>",{:controller=>'user',:action=>'logout'},:id=>"call_to_action"%>
      <%end%>
      <div class="widget-button">
        <%= link_to "<span>#{t("write_blog")}</span>",{:controller=>'blog',:action=>'new_blog'},:id=>"call_to_action"%>
      </div>
      <div id="tabbed" class="sidebar-block ui-tabs ui-widget ui-widget-content ui-corner-all">
        <!-- 加载博客筛选栏 -->
        <%= render(:partial => "share/left_tabs") %>

       <!-- 加载博客列表 -->
        <%= render(:partial => "home/right_content") %>
      <!-- end #recent-tabbed -->
      </div> <!-- end .sidebar-block-->

      <div id="archives-3" class="widget widget_archive"><h4 class="widgettitle"><%= t 'archives' %></h4>
        <div class="widget-content">
          <ul>
            <li>
              <%@date_list.each do |date|%>
              <%= link_to_remote("#{format_string_date(date.dates)}",\
              :update => "main-area",\
              :url=>{ :controller => "home",:action=>"tag_search",:date => "#{date.dates}"}) %>
              <%end%></li>
          </ul>
        </div>
      </div><!-- end .widget -->
      <div id="categories-3" class="widget widget_categories">
        <h4 class="widgettitle">Categories</h4>
        <div class="widget-content">
          <ul>
            <li class="cat-item cat-item-6"><a href="http://www.elegantthemes.com/preview/AskIt/?cat=6" title="View all posts filed under Web Development">Web Development</a>
            </li>
            <li class="cat-item cat-item-9"><a href="http://www.elegantthemes.com/preview/AskIt/?cat=9" title="View all posts filed under WordPress">WordPress</a>
            </li>
          </ul>
        </div>
      </div><!-- end .widget -->
      <div id="meta-3" class="widget widget_meta">
        <h4 class="widgettitle">Meta</h4>
        <div class="widget-content">
          <ul>
            <li><a href="http://www.elegantthemes.com/preview/AskIt/wp-login.php">Log in</a></li>
            <li><a href="http://wordpress.org/" title="Powered by WordPress, state-of-the-art semantic personal publishing platform.">WordPress.org</a></li>
          </ul>
        </div>
      </div><!-- end .widget -->
    </div> <!-- end #sidebar-content -->
  </div> <!-- end #sidebar-bottom -->
</div>