<div id="main-content">
  <%@blogs.each do|blog|%>
  <div class="entry">
    <div class="entry-top">
      <div class="entry-content">
       <span class="comment-number"><%= link_to blog.replay_count,"#"%></span>
        <h2 class="title"><%= link_to blog.title,"#"%></h2>
        <span class="quote"></span>
        <div class="author">-- <%= link_to blog.user.alias_name+" ,","#"%>
          <%= format_date(blog.updated_at,"%Y-%m-%d")%><a href="http://www.elegantthemes.com/preview/AskIt/?cat=3" title="View all posts in Technology" rel="category">Technology</a>
        <%#= link_to blog.type,"#",:rel=>"category"%>
        </div>

        <div class="clear"></div>
        <div class="tags">
          <a href="http://www.elegantthemes.com/preview/AskIt/?tag=lcd"><span>lcd</span></a>
        </div> <!-- end .tags -->

        <div id ="post-content" class="post-content">
          <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Quisque sed nibh augue. Donec odio dui, bibendum ac porta non,...</p>
          <h2><a href="http://www.elegantthemes.com/preview/AskIt/?p=14"> > >  more</a></h2>
          <div class="clear"></div>
        </div>
      </div> <!-- end .entry-content -->
    </div> <!-- end .entry-top -->
  </div>
  <div class="clear"></div>
 <%end%>
  <div class="wp-pagenavi">
    <span class="pages">Page 1 of 3</span><span class="current">1</span>
    <a href="http://www.elegantthemes.com/preview/AskIt/?paged=2" class="page">2</a>
    <a href="http://www.elegantthemes.com/preview/AskIt/?paged=3" class="page">3</a>
    <a href="http://www.elegantthemes.com/preview/AskIt/?paged=2" class="nextpostslink">»</a>
  </div>
    <%= will_paginate @blogs  %>

</div> <!-- end #main-recent -->