<div id="signup_form"<%if !@signup%> class="hidden" <%end%>>
  <% form_for @user, :url => { :action => "signup" }, :method => :post do |f| %>
     <p class="clearfix">
      <label for="et_newpost_title" class="inputlable"><%= t("login_name")%>:</label>
      <%= f.text_field :login_name,:class=>"input"%> <small>*</small>
      <%= error_div(@user, :login_name)%>
     </p>

    <p class="clearfix">
      <label for="et_newpost_title" class="inputlable"><%= t("email")%>:</label>
      <%= f.text_field :email,:class=>"input"%>
       <%= error_div(@user, :email)%>
      <small>*</small>
    </p>

    <p class="clearfix">
      <label for="et_newpost_tags" class="inputlable"><%= t("password")%>:</label>
      <%= f.password_field :password,:label => t("password"),:class=>"input" %>
      <small>*</small>
       <%= error_div(@user, :password)%>
    </p>


    <p class="clearfix">
      <label for="et_newpost_tags" class="inputlable"><%= t("password_comfire")%>:</label>
      <%= f.password_field :password_comfire,:label => t("password_comfire"),:class=>"input" %>
      <small>*</small>
       <%= error_div(@user, :password_comfire)%>
    </p>

    <p class="clearfix">
      <label for="et_newpost_title" class="inputlable"><%= t("alias_name")%>:</label>
      <%= f.text_field :alias_name,:class=>"input"%>
      <small>*</small>
       <%= error_div(@user, :alias_name)%>
    </p>

    <input  class="register" type="submit" value="<%=t "submit"%>" id="submit"/>
     <input  class="register" type="reset" value="<%=t "reset"%>" id="reset"/>
  <% end %>
</div>