<div style="clear: both;color: #03491E;font-size: 25px;margin: 0px;padding: 20px 0px;">
<%= @title%>
</div>

<p><%= @signup_message%></p>
<p><%= t 'login_name' %>:  <%= @login_name %></p>
<p><%= t 'password' %>:  <%= @password %></p>
<p><%= t 'alias_name' %>:  <%= @alias_name %></p>
<p><%= t 'email' %>:  <%= @email %></p>
