<div style="clear: both;color: #03491E;font-size: 25px;margin: 0px;padding: 20px 0px;">
<%= t 'lettle from'%><%= @from%>
</div>
<div style="clear: both;color: #03491E;font-size: 25px;margin: 0px;padding: 20px 0px;">

<p><%=  t 'contents letters'%></p><%= @message%>
</div>

<div style="clear: both;color: black;font-size: 15px;margin: 0px;padding: 20px 0px;">
<p>  --------------------------------------------------------------------------</p>
<%=  t 'system letters from'%>
</div>

