<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!-- saved from url=(0043)http://www.elegantthemes.com/preview/AskIt/ -->
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title><%= t'html_title' %></title>
    <link rel="shortcut icon" href="/favicon.ico" />
    <%= stylesheet_link_tag 'style'%>
    <%= stylesheet_link_tag 'css'%>
    <%= stylesheet_link_tag 'main'%>
    <%= javascript_include_tag 'jquery'%>
    <%= javascript_include_tag 'application'%>
    <%= javascript_include_tag 'truncator'%>
    <%= javascript_include_tag "prototype" %>
    <%= include_tiny_mce_if_needed %>
  </head>
  <body id="home">

    <!-- 加载顶部导航链接 -->
    <%= render(:partial => "layouts/header_inner") %>

    <!-- 加载分类导航按钮 -->
    <%= render(:partial => "layouts/header_content") %>

    <div id="content">
      <div id="right-shadow">
        <div id="top-shadow">
        </div>
        <div class="container clearfix">
          <%= @content_for_layout %>
        </div>
      </div> <!-- end .container -->
    </div> 	<!-- end #right-shadow -->

    <!-- 加载foot部分网页 -->
    <%= render(:partial => "layouts/foot_content") %>

    <!-- 加载js-->
    <%= render(:partial => "layouts/load_js") %>
  </body>
</html>